.cabeçalho {
    background-color: rgba(255, 0, 221, 0.822);
    color:white;
    display: flex;
    justify-content: space-around;
}
 
.cabesalho-imagem{
    width: 20%;   
}

.cabesalho-lista-item[
    display 
    
]
